<app-navbar1></app-navbar1>
<div class="margin">
    <div class="container">
        <div class="col-4">
            <div class="title">
                <h3 class="h3-title">Registre-se</h3>
            </div>
            <div class="body">
                <form>
                    <label>Usuário:</label>
                    <br>
                    <input type="text"  placeholder="Seu_usuario...">
                    <br>
                    <label>E-mail: </label>
                    <br>
                    <input type="text"  placeholder="seu_email@gmail.com">
                    <br>
                    <label>Senha:</label>
                    <br>
                    <input type="password" placeholder="*******">
                    <br>
                    <label>Confirme sua senha:</label>
                    <br>
                    <input type="password" placeholder="*******">
                </form>
                <div class="buttons">
                    <button class="confirm-button">Confirmar</button>
                </div>
            </div>
        </div>
    </div>
</div>