<app-navbar1></app-navbar1>
<div class="margin">
    <div class="container">
        <div class="col-4">
            <div class="title">
                <h3 class="h3-title">Login</h3>
            </div>
            <div class="body">
                <form (ngSubmit)="login()">
                  <label>E-mail:</label>
                  <br>
                  <input type="text" [(ngModel)]="email" name="email" placeholder="seu_email@gmail.com" required>
                  <br>
                  <label>Senha:</label>
                  <br>
                  <input type="password" [(ngModel)]="password" name="password" placeholder="*******" required>
                  <br>
                  <div class="buttons">
                    <button type="submit" class="login-button">Entrar</button>
                    <button [routerLink]="'/register'" class="register-button"> Cadastre-se</button>
                  </div>
                </form>
              </div>              
        </div>
    </div>
</div>